* {
    margin: 0;
    padding: 0;
}
.navigater {
    border: 2px red dashed;
    border-radius: 10vw;
}
a {
    text-decoration: none;
    color: white;
}
li {
    display: inline-block;
    padding: 2vw;
    font-weight: bolder;
}
ul {
    padding: 2vw;
    background-color: black;
    color: red;
    border-radius: 10vw;
}
.end {
    text-align: center;
    background-color: blanchedalmond;
    color:black;
}
.class {
    display: flex;
    flex-direction: row;
}
.box1 {
    background-color: red;
}
.box2 {
    background-color: blue;
}